---
title: Noodles
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noodles</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel='stylesheet' type='text/css' href='css/stylesheet.css'>
    <!--  Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col">
                <!-- Empty Left Column -->
            </div>

            <div class="col-8">
                <!-- Main Column -->
                <div class="container-xl">
                    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-2">

                        {% for entry in site.data.shortcuts.entries %}
                            {% include entry.html %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col">
                <!-- Empty Right Column -->
            </div>
        </div>
    </div>

    <!-- Floating Theme Toggle -->
    <div class="position-absolute bottom-0 end-0 m-2">
        <button type='button' class="btn btn-theme-toggle" onclick="themeToggle()">
            <img id='btn-theme-toggle-img' src="assets/ui/dark-mode.svg"></img>
        </button>
    </div>

    <!-- My Scripts -->
    <script src="js/tooltip.js"></script>
    <script src="js/theme-toggle.js"></script>
</body>

</html>